<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="max-age=7200" />

    <link rel="stylesheet" type="text/css" href="./css/light.css" />
    <link rel="stylesheet" href="./css/dark.css">

    <script type="text/javascript" src="../../include/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../../include/json2.js"></script>
    <script type="text/javascript" src="../../include/globalapi.js"></script>
    <script type="text/javascript" src="../../data/text.js"></script>
    <script type="text/javascript" src="../thirdparty/vue/vue.global.prod.min.js"></script>
    <script type="text/javascript" src="../thirdparty/vue/pinia.iife.prod.js"></script>
     <script type="text/javascript" src="../thirdparty/vue/vue-i18n.global.prod.js"></script>
    <script src="../thirdparty/element-plus/index.full.min.js"></script>

    <script type="text/javascript" src="./store/printer.js"></script>
    <script type="text/javascript" src="./components/add_printer.js"></script>
    <script type="text/javascript" src="./components/manual_form.js"></script>
    <script type="text/javascript" src="./components/printer_auth.js"></script>
    <script type="text/javascript" src="./components/printer_setting_physical.js"></script>
    <script type="text/javascript" src="./components/printer_setting.js"></script>
    <script type="text/javascript" src="../utils/util.js"></script>
    <script type="text/javascript" src="../utils/ipc.js"></script>

    <script type="text/javascript" src="../locales/index.js"></script>

</head>

<body>
    <div id="app" >
        <div class="printer-manager-header">
            <div class="left-actions">
                <span>{{ $t("printerManager.connectedPrinters") }}</span>
                <div class="printer-local-icon icon-button" @click="handleRefresh">
                    <img src="./img/refresh.svg" alt="Refresh" />
                </div>
            </div>
            <div class="right-actions">
                <button class="btn-primary" @click="showAddPrinterModal">
                    <span style="display: flex; align-items: center; justify-content: center;gap: 8px;">
                        <img src="./img/add.svg" width="16px" alt="Add Printer" />
                        <span>{{ $t("printerManager.addPrinter") }}</span>
                    </span>
                </button>
            </div>
        </div>
        <div class="printer-container">
            <div class="printer-category">{{ $t("printerManager.localPrinters") }}
                <!-- <span class="printer-local-icon">
                    <img src="./img/printer-local.svg" alt="Local Printer" /> 
                </span> -->
            </div>
            <div v-if="printerStore.printers.length === 0" class="no-printer">
                <img src="../img/printer-empty.png" width="224"/>
                <div>{{ $t("printerManager.noPrintersAvailable") }}</div>
            </div>
            <div class="printer-list" v-else>
                <div v-for="(printer, index) in printerStore.printers" :key="printer.printerId" class="printer-card"
                    :id="`printer-card-${printer.printerId}`">
                    <div class="printer-card-header">
                        <div class="printer-img">
                            <img :src="printer.printerImg || ''" alt="Printer" />
                        </div>
                        <div class="printer-header-info">
                            <div class="printer-title" :title="printer.printerName">{{ printer.printerName }}</div>
                            <div class="printer-host">{{ printer.host || '' }}</div>
                            <button class="printer-detail-btn"
                                @click="printerStore.showPrinterDetail(printer.printerId)">{{ $t("printerManager.details") }}</button>
                        </div>
                        <div class="card-menu icon-button" title="more" @click="showPrinterSettingsByIndex(index)">
                            &#8942;
                        </div>
                    </div>
                    <div class="progress-bar-container">
                        <span class="progress-label" v-show="printer.printerStatus===1">{{ getPrinterProgress(printer) }}%</span>
                        <div class="progress-bar-bg">
                            <div class="progress-bar" :style="`width:${getPrinterProgress(printer)}%`"></div>
                        </div>
                    </div>
                    <div class="printer-status-row">
                        <span class="printer-status" :style="getPrinterStatusStyle(printer.printerStatus, printer.connectStatus)">{{ getPrinterStatus(printer.printerStatus,
                            printer.connectStatus)
                            }}</span>
                        <span v-show="printer.printerStatus===1" class="remaining-time">{{ getPrinterRemainingTime(printer) }}</span>
                        <div v-if="shouldShowWarningIcon(printer.printerStatus, printer.connectStatus)" 
                             class="warning-icon" 
                             :title="getWarningTooltip(printer.printerStatus)">
                            <img src="./img/warning.svg" alt="Warning" width="16" height="16" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <el-drawer v-model="showAddPrinter" :title="$t('addPrinterDialog.addPrinter')" :direction="direction" :size="600">
            <add-printer-component ref="addPrinterComponent" @close-modal="closeModals"
                ></add-printer-component>
        </el-drawer>



        <el-dialog v-model="showPrinterAdvancedSettings" :title="$t('printerManager.printerSettings')" width="700" center>
            <printer-setting-component :printer="currentPrinter" @close-modal="closeModals">
            </printer-setting-component>
        </el-dialog>



        <el-drawer v-model="showPrinterSimpleSettings" :title="$t('printerManager.physicalPrinter')"  :direction="direction" :size="600">
            <printer-setting-physical-component :printer="currentPrinter"  @close-modal="closeModals">
            </printer-setting-physical-component>
        </el-drawer>



    </div>
    <script type="text/javascript" src="printer.js"></script>
    <script>
        const { createApp } = Vue;
        const { ElInput, ElButton, ElPopover, ElDialog, ElTab, ElTabPane, ElSelect, ElOption, ElForm, ElFormItem, ElLoading,ElMessageBox,ElPopconfirm } = ElementPlus;

        // Create Vue app
        const app = createApp(PrinterManager);

        // Register all components
        app.component('add-printer-component', AddPrinterComponent);
        app.component('manual-form-component', ManualFormComponent);
        app.component('printer-auth-component', PrinterAuthComponent);
        app.component('printer-setting-physical-component', PrinterSettingPhysicalComponent);
        app.component('printer-setting-component', PrinterSettingComponent);

        app.use(createPinia());
        app.use(ElementPlus);
        app.use(i18n);
        // Mount the app
        app.mount('#app');
    </script>
</body>

</html>