<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/light.css">
    <link rel="stylesheet" href="./css/dark.css">

    <script src="../../include/jquery-3.6.0.min.js"></script>
    <script src="../thirdparty/vue/vue.global.prod.min.js"></script>
    <script src="../thirdparty/vue/vue-i18n.global.prod.js"></script>
    <script src="../thirdparty/element-plus/index.full.min.js"></script>
    <script src="../../include/json2.js"></script>
    <script src="../../include/globalapi.js"></script>
    <script src="../../data/text.js"></script>
    <script src="../locales/index.js"></script>
    <script src="../utils/ipc.js"></script>
    <script src="./img/filament.js"></script>
</head>

<body>
    <div id="app">
        <div class="print-task-dialog" style="display: none;" v-show="!isIniting">
            <main v-if="printerList && printerList.length > 0" class="print-task-content">
                <section class="model-section">
                    <img v-if="modelImageSrc" :src="modelImageSrc" class="model-preview" alt="3D Model" />
                    <div v-else class="model-preview"></div>
                    <div class="model-info">
                        <div class="model-name-edit">
                            <el-input v-model="printInfo.modelName" type="text" @blur="stopEditing"
                                @keydown.enter="stopEditing" @input="adjustModelNameWidth" ref="modelNameInput"
                                id="model-name" class="model-name-input"></el-input>
                            <button class="edit-name-btn" @click="startEditing">
                                <img src="img/edit.svg" alt="" />
                            </button>
                        </div>

                        <div class="print-stats">
                            <div class="stat-item">
                                <img class="stat-icon" src="img/clock.svg" alt="" />
                                <span>{{ printInfo.printTime || '00:00:00' }}</span>
                            </div>
                            <div class="stat-item">
                                <img class="stat-icon" src="img/est-weight.svg" alt="" />
                                <span>{{ formatWeight(printInfo.totalWeight) }}</span>
                            </div>
                            <div class="stat-item">
                                <img class="stat-icon" src="img/layer-num.svg" alt="" />
                                <span>{{ printInfo.layerCount || 0 }}</span>
                            </div>
                        </div>

                        <div class="device-selection">
                            <div class="section-header" style="margin: 12px 0px;">
                                <label class="section-title">{{ $t('printSend.printer') }}</label>
                                <div class="section-separator"></div>
                            </div>
                            <div class="dropdowns-container">
                                <div class="dropdown" v-click-outside="closePrinterDropdown">
                                    <div class="dropdown-header" :class="{ active: printerDropdownOpen }"
                                        @click="togglePrinterDropdown">
                                        <button class="printer-refresh-btn" @click.stop="refreshPrinterList">
                                            <img src="img/refresh.svg" alt="Refresh" />
                                        </button>
                                        <img :src="curPrinter?.printerImg || ''" alt="" class="dropdown-icon" />
                                        <div class="dropdown-content">
                                            <div class="dropdown-title">{{ curPrinter?.printerName ||
                                                $t('printSend.noPrinter') }}</div>
                                            <div class="dropdown-subtitle">{{ curPrinter?.printerModel ||
                                                $t('printSend.pleaseConnectPrinter') }}</div>
                                        </div>
                                    </div>
                                    <ul class="dropdown-menu" :hidden="!printerDropdownOpen">
                                        <li v-for="printer in printerList" :key="printer.printerId"
                                            class="dropdown-item"
                                            :class="{ selected: printer.printerId === curPrinter.printerId }"
                                            @click="selectPrinter(printer)">
                                            <img :src="printer.printerImg" alt="" class="dropdown-item-icon" />
                                            <div class="dropdown-item-content">
                                                <div class="dropdown-item-title">{{ printer.printerName }}</div>
                                                <!-- <div v-if="printer.printerModel" class="dropdown-item-subtitle">{{ printer.printerModel }}</div> -->
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="dropdown bed-dropdown"
                                    v-if="curPrinter && curPrinter.printerAttributes.supportsHeatedBedSwitching"
                                    v-click-outside="closeBedDropdown" :class="{ hidden: !showBedDropdown }">
                                    <div class="dropdown-header" :class="{ active: bedDropdownOpen }"
                                        @click="toggleBedDropdown">
                                        <img :src="selectedBedType.icon" alt="" class="dropdown-icon" />
                                        <div class="dropdown-content">
                                            <div class="dropdown-title">{{ selectedBedType.name }}</div>
                                        </div>
                                    </div>
                                    <ul class="dropdown-menu" :hidden="!bedDropdownOpen">
                                        <li v-for="bedType in bedTypes" :key="bedType.value" class="dropdown-item"
                                            :class="{ selected: bedType.value === selectedBedType.value }"
                                            @click="selectBedType(bedType)">
                                            <img :src="bedType.icon" alt="" class="dropdown-item-icon" />
                                            <div class="dropdown-item-content">
                                                <div class="dropdown-item-title">{{ bedType.name }}</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="error-tips" v-show="printerModelNotMatch">{{$t('printSend.printerModelNotMatch')}}
                        </div>
                        <div class="error-tips" v-show="!printerModelNotMatch&&bedTypeNotMatch">
                            {{$t('printSend.bedTypeNotMatch')}}</div>
                    </div>
                </section>
                <section class="options-section">
                    <div class="options-separator"></div>

                    <div class="toggle-group">
                        <div class="toggle-item">
                            <div class="toggle-label trans" tid="switch_to_device_tab">{{
                                $t('printSend.switchToDeviceTab') }}</div>
                            <label class="toggle-switch">
                                <input type="checkbox" v-model="printInfo.switchToDeviceTab" />
                                <span class="toggle-slider"></span>
                            </label>
                        </div>

                        <div class="toggle-item">
                            <div class="toggle-label trans" tid="upload_and_print">{{ $t('printSend.uploadAndPrint') }}
                            </div>
                            <label class="toggle-switch">
                                <input type="checkbox" v-model="printInfo.uploadAndPrint" />
                                <span class="toggle-slider"></span>
                            </label>
                        </div>
                    </div>
                </section>
                <section class="filament-section" v-if="showFilamentSection">
                    <div class="section-header">
                        <h3 class="section-title">{{ $t('printSend.filamentMapping') }}</h3>
                        <div class="section-separator"></div>
                    </div>
                    <div class="filament-container">
                        <div class="filament-header">
                            <div class="filament-controls">
                                <div class="toggle-item">
                                    <div class="toggle-label trans" tid="auto_refill">{{ $t('printSend.autoRefill') }}
                                    </div>
                                    <label class="toggle-switch">
                                        <input type="checkbox" v-model="printInfo.autoRefill" />
                                        <span class="toggle-slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="filament-pagination">
                                <button class="pagination-btn" @click="prevPage" :disabled="currentPage <= 1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        fill="currentColor" version="1.1" width="6" height="10" viewBox="0 0 6 10">
                                        <g transform="matrix(-1,0,0,-1,12,20)">
                                            <path
                                                d="M12,15.18525L7.8947400000000005,10L6,10L10.105260000000001,15.18525L6,20L7.8947400000000005,20L12,15.18525Z"
                                                fill-opacity="1" style="mix-blend-mode:passthrough" />
                                        </g>
                                    </svg>
                                </button>
                                <span>{{ currentPage }}/{{ totalPages }}</span>
                                <button class="pagination-btn" @click="nextPage" :disabled="currentPage >= totalPages">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        fill="currentColor" version="1.1" width="6" height="10" viewBox="0 0 6 10">
                                        <g>
                                            <path
                                                d="M6,5.18525L1.89474,0L0,0L4.10526,5.18525L0,10L1.89474,10L6,5.18525Z"
                                                fill-opacity="1" style="mix-blend-mode:passthrough" />
                                        </g>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="filament-list">
                            <div v-for="filament in currentPageFilaments" :key="filament.index"
                                class="mapping-container">
                                <div class="filament-rect" :style="getFilamentStyle(filament)"
                                    :title="filament.filamentName">
                                    <div class="filament-type">{{ filament.filamentType }}</div>
                                    <div class="filament-weight">{{ formatWeight(filament.filamentWeight) }}</div>
                                </div>


                                <el-popover ref="mmsPopover" placement="top" title="" :width="420" trigger="click"
                                    :show-arrow="false">
                                    <template #default>
                                        <div>
                                            <div class="mms-header">
                                                <span class="mms-title">{{ $t('printSend.canvas') }}</span>
                                                <div style="border-bottom: 1px solid #DEDEDE; height: 1px; flex: 1;">
                                                </div>
                                            </div>
                                            <div class="mms-popover-content">
                                                <div v-for="mms in printInfo.mmsInfo.mmsList" :key="mms.mmsId"
                                                    class="mms-row">
                                                    <div class="tray-popover-content">
                                                        <div v-for="tray in mms.trayList" :key="tray.trayName"
                                                            class="tray-popover-card" :style="getMmsCardStyle(tray)"
                                                            @click="updateFilamentMapping(filament.index, tray)">
                                                            <div class="tray-name">{{ tray.trayName }}</div>
                                                            <div class="tray-dash"></div>
                                                            <div class="tray-filament-type">{{(tray.status === 1 ||
                                                                tray.status === 3) ? tray.filamentType : (tray.status
                                                                === 0 ? '/' : "?")}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                    <template #reference>
                                        <div class="tray-rect" :title="filament.mappedMmsFilament?.filamentName">
                                            <span v-html="getFilamentSvg(filament.mappedMmsFilament)">
                                            </span>
                                            <div class="tray-filament-type">{{ filament.mappedMmsFilament?.filamentType
                                                ||
                                                '?' }}
                                            </div>
                                            <span><img src="./img/down-arrow.svg" alt="" /></span>
                                        </div>
                                    </template>
                                </el-popover>

                                <!-- <div class="tray-filament-type">{{ filament.amsFilamentType || 'N/A' }}</div> -->

                            </div>
                        </div>
                    </div>
                </section>
                <section class="print-options-section" :class="{ hidden: !showPrintOptions }"
                    v-if="curPrinter && (curPrinter.printerAttributes.supportsAutoBedLeveling || curPrinter.printerAttributes.supportsTimeLapse)">
                    <div class="section-header">
                        <h3 class="section-title">{{ $t('printSend.printOptions') }}</h3>
                        <div class="section-separator"></div>
                    </div>

                    <div class="print-options-grid">
                        <div class="toggle-item">
                            <div class="toggle-label trans"
                                v-if="curPrinter && curPrinter.printerAttributes.supportsAutoBedLeveling"
                                tid="heated_bed_leveling">{{ $t('printSend.autoBedLeveling') }}</div>
                            <label class="toggle-switch">
                                <input type="checkbox" v-model="printInfo.heatedBedLeveling" />
                                <span class="toggle-slider"></span>
                            </label>
                        </div>

                        <div class="toggle-item">
                            <div class="toggle-label trans"
                                v-if="curPrinter && curPrinter.printerAttributes.supportsTimeLapse" tid="time_lapse">{{
                                $t('printSend.timelapse') }}</div>
                            <label class="toggle-switch">
                                <input type="checkbox" v-model="printInfo.timeLapse" />
                                <span class="toggle-slider"></span>
                            </label>
                        </div>
                    </div>
                </section>

            </main>
            <div v-else class="print-task-content no-printer">
                <img src="../img/printer-empty.png" width="224" />
                <div>{{ $t("noPrinterConnected") }}</div>

            </div>
            <footer class="action-buttons">
                <button class="btn btn-secondary trans" @click="cancel" tid="cancel">{{ $t('printSend.cancel')
                    }}</button>
                <button class="btn btn-primary trans" :disabled="!curPrinter" @click="upload" tid="upload">{{
                    $t('printSend.upload') }}</button>
            </footer>
        </div>
    </div>
    <script src="./printsend.js"></script>
</body>

</html>