<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/light.css">
    <link rel="stylesheet" href="./css/dark.css">

    <script src="../../include/jquery-3.6.0.min.js"></script>
    <script src="../thirdparty/vue/vue.global.prod.min.js"></script>
    <script src="../thirdparty/element-plus/index.full.min.js"></script>
    <script src="../../include/json2.js"></script>
    <script src="../../include/globalapi.js"></script>
    <script src="../../data/text.js"></script>
    <script src="./img/filament.js"></script>
</head>

<body>
    <div id="app">
        <div class="filament-sync-container">
            <div class="main">
                <div v-if="devices&&devices.length >0">
                    <el-select v-model="curDevice" class="model-select" :show-arrow="false" placeholder="Please select a printer">
                        <template #label="{ value }">
                            <div class="model-container">
                                <span class="icon-button" @click="refreshDevice($event, value)">
                                    <img src="./img/refresh.svg" alt="Refresh" />
                                </span>
                                <img src="" class="model-image" alt="model" />
                                <div class="model-info">
                                    <span class="model-title">{{ value.name }}: </span>
                                    <span class="model-description">{{ value.model }}</span>
                                </div>
                            </div>
                        </template>
                        <el-option v-for="item in devices" class="model-option" :key="item.id" :value="item">

                            <div class="model-container">
                                <img src="" class="model-image" alt="model" />
                                <div class="model-info">
                                    <span class="model-title">{{ item.name }}: </span>
                                    <span class="model-description">{{ item.model }}</span>
                                </div>
                            </div>
                        </el-option>
                    </el-select>
                </div>
                <div v-if="devices&&devices.length >0">
                    <div class="filament-title" v-show="curDevice">Filament Information</div>
                    <div class="empty-content" v-if="curDevice && !curDevice.isOnline">
                        <img src="./img/offline.svg" />
                        <span class="offline-text">The printer is offline. Please check and refresh or retry.</span>
                    </div>
                    <div class="empty-content"
                        v-else-if="curDevice && (curDevice.filament?.length=== 0 || !curDevice.filament)">
                        <img src="./img/no-filament.svg" />
                        <span class="no-filament-text">The printer has no filament information to sync. Please check and refresh or retry.</span>
                    </div>
                    <div class="filament-list" v-else-if="curDevice && curDevice.filament?.length>0">
                        <div v-for="filament in curDevice.filament" :key="filament.id" class="filament-item">
                            <span class="filament-item-id">{{ filament.id }}</span>
                            <span class="filament-item-line"></span>
                            <div class="filament-item-info">
                                <span v-html="getFilamentSvg(filament)"></span>
                                <div style="flex: 1; display: flex; justify-content: center;">
                                    <span class="filament-item-name">{{ filament.name }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="empty-content" v-if="!devices||devices.length === 0">
                    <span class="offline-text">No printer connected. Please go to "Devices" to discover or add a new printer.</span>
                </div>
            </div>
            <div class="footer">
                <button class=" btn-secondary trans" @click="cancel" tid="cancel">Cancel</button>
                <button class=" btn-primary trans" @click="sync" tid="upload">Sync</button>
            </div>
        </div>
    </div>
    <script>
        const { createApp } = Vue;
        const { ElButton, ElDialog, ElInput, ElSelect, ElOption, ElForm, ElFormItem } = ElementPlus;

        createApp({
           //data for MVVM binding
            data() {
                return {
                    // Your data properties here
                    curDevice: null,
                    devices: [{
                        id: "1",
                        name: 'Centauri Carbon',
                        model: 'Centauri Carbon',
                        isOnline: true,
                        filament: [{
                            id: "1",
                            name: 'PLA+',
                            amsFilamentColor: '#FF0000',
                        },
                        {
                            id: "2",
                            name: 'PRTG+',
                            amsFilamentColor: '#00FF00',
                        },
                        {
                            id: "3",
                            name: 'PLA PRO',
                            amsFilamentColor: '#0000FF',
                        },
                        ],
                    },
                    {
                        id: "2",
                        name: 'Centauri Carbon 2',
                        model: 'Centauri Carbon 2',
                        isOnline: true,
                        filament: [{
                            id: "1",
                            name: 'PLA+',
                            amsFilamentColor: '#FF0000',
                        },
                        {
                            id: "2",
                            name: 'PRTG+',
                            amsFilamentColor: '#00FF00',
                        },
                        {
                            id: "3",
                            name: 'PLA PRO',
                            amsFilamentColor: '#0000FF',
                        },
                        {
                            id: "3",
                            name: 'PLA PRO',
                            amsFilamentColor: '#0000FF',
                        },
                        {
                            id: "3",
                            name: 'PLA PRO',
                            amsFilamentColor: '#0000FF',
                        }
                            ,
                        {
                            id: "3",
                            name: 'PLA PRO',
                            amsFilamentColor: '#0000FF',
                        }
                        ],
                    },
                    {
                        id: "3",
                        name: 'Centauri Carbon',
                        model: 'Centauri Carbon',
                        isOnline: true,
                        filament: [
                        ],
                    },
                    {
                        id: "4",
                        name: 'Centauri Carbon',
                        model: 'Centauri Carbon',
                        isOnline: false,
                        filament: [
                        ],
                    },
                    ],
                };
            },
            methods: {
                getFilamentSvg(filament) {
                    const color = filament?.amsFilamentColor || '#888';
                    return getFilamentSvg(color);
                },
                // Lifecycle methods
                async init() {

                },
                // Handle messages from backend
                handleStudio(data) {
                    const command = data.command;
                },
                refreshDevice(event, device) {
                    event.stopPropagation();
                    event.preventDefault();
                    console.log('Refreshing devices...');
                    // Refresh device logic here
                },
                cancel() {
                    console.log('Cancelling...');
                },
                sync() {
                    console.log('Syncing...');
                }
            },
            // Initialize the application
            mounted() {
                // Initialize the application
                this.init();

                // Set up global message handler
                window.HandleStudio = (data) => {
                    this.handleStudio(data);
                };

                // Set up global functions that might be called externally
                window.OnInit = () => {
                    this.init();
                };
            },
        })
            .use(ElementPlus)
            .mount('#app');
    </script>
</body>

</html>