<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/light.css">
    <link rel="stylesheet" href="./css/dark.css">

    <script src="../../include/jquery-3.6.0.min.js"></script>
    <script src="../thirdparty/vue/vue.global.prod.min.js"></script>
    <script src="../thirdparty/element-plus/index.full.min.js"></script>
    <script src="../../include/json2.js"></script>
    <script src="../../include/globalapi.js"></script>
    <script src="../../data/text.js"></script>
    <script src="./img/filament.js"></script>
</head>

<body>
    <div id="app">
        <div class="filament-sync-container">
            <div class="main">
                <div v-if="printerList&&printerList.length >0">
                    <el-select v-model="curPrinter" class="model-select" :show-arrow="false"
                        placeholder="Please select a printer" @change="onPrinterChanged">
                        <template #label="{ value }">
                            <div class="model-container">
                                <span class="icon-button" @click="refreshPrinterList($event, value)">
                                    <img src="./img/refresh.svg" alt="Refresh" />
                                </span>
                                <img :src="value.printerImg" class="model-image" alt="model" />
                                <div class="model-info">
                                    <span class="model-title">{{ value.printerName }}</span>
                                    <span class="model-description">{{ value.printerModel }}</span>
                                </div>
                            </div>
                        </template>
                        <el-option v-for="item in printerList" class="model-option" :key="item.printerId" :value="item">

                            <div class="model-container">
                                <img :src="item.printerImg" class="model-image" alt="model" />
                                <div class="model-info">
                                    <span class="model-title">{{ item.printerName }}</span>
                                    <span class="model-description">{{ item.printerModel }}</span>
                                </div>
                            </div>
                        </el-option>
                    </el-select>
                </div>
                <div v-if="printerList&&printerList.length >0">
                    <div class="filament-title" v-show="curPrinter">Filament Information</div>
                    <div class="empty-content" v-if="curPrinter && curPrinter.connectStatus !== 1">
                        <img src="./img/offline.svg" />
                        <span class="offline-text">The printer is offline. Please check and refresh or retry.</span>
                    </div>
                    <div class="empty-content" v-else-if="curPrinter && (mmsInfo?.mmsList?.length=== 0)">
                        <img src="./img/no-filament.svg" />
                        <span class="no-filament-text">The printer has no filament information to sync. Please check and
                            refresh or retry.</span>
                    </div>
                    <div class="filament-list" v-else-if="curPrinter && mmsInfo?.mmsList?.length>0">
                        <div v-for="mms in mmsInfo.mmsList" :key="mms.mmsId" class="mms-item">
                            <div v-for="tray in mms.trayList.filter(t => t.status === 1 || t.status === 3)" :key="tray.trayName" class="filament-item">
                                <span class="filament-item-id">{{ tray.trayName }}</span>
                                <span class="filament-item-line"></span>
                                <div class="filament-item-info">
                                    <span v-html="getFilamentSvg(tray)"></span>
                                    <div style="flex: 1; display: flex; justify-content: center;">
                                        <span class="filament-item-name">{{ tray.filamentType }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="empty-content" v-if="!printerList||printerList.length === 0">
                    <span class="offline-text">No printer connected. Please go to "Devices" to discover or add a new
                        printer.</span>
                </div>
            </div>
            <div class="footer">
                <button class=" btn-secondary trans" @click="cancel" tid="cancel">Cancel</button>
                <button class=" btn-primary trans" @click="sync" tid="upload">Sync</button>
            </div>
        </div>
    </div>
    <script src="./filament_sync.js"></script>
</body>

</html>