<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/light.css">
    <link rel="stylesheet" href="./css/dark.css">

    <script src="../../include/jquery-3.6.0.min.js"></script>
    <script src="../thirdparty/vue/vue.global.prod.min.js"></script>
    <script src="../thirdparty/vue/vue-i18n.global.prod.js"></script>
    <script src="../thirdparty/element-plus/index.full.min.js"></script>
    <script src="../../include/json2.js"></script>
    <script src="../../include/globalapi.js"></script>
    <script src="../../data/text.js"></script>
    <script src="../locales/index.js"></script>
    <script type="text/javascript" src="../utils/util.js"></script>
    <script src="../utils/ipc.js"></script>
    <script src="./img/filament.js"></script>
</head>

<body>
    <div id="app">
        <div class="filament-sync-container" style="display: none;" v-show="!isIniting">
            <div class="main">
                <div v-if="printerList&&printerList.length >0">
                    <el-select v-model="curPrinter" class="model-select" :show-arrow="false"
                        :placeholder="$t('filamentSync.pleaseSelectPrinter')" @change="onPrinterChanged">
                        <template #label="{ value }">
                            <div class="model-container">
                                <span class="icon-button" @click="refreshPrinterList($event, value)">
                                    <img src="./img/refresh.svg" alt="Refresh" />
                                </span>
                                <img :src="value.printerImg" class="model-image" alt="model" />
                                <div class="model-info">
                                    <span class="model-title">{{ value.printerName }}</span>
                                    <span class="model-description">{{ value.host }}</span>
                                </div>
                            </div>
                        </template>
                        <el-option v-for="item in printerList" class="model-option" :key="item.printerId" :value="item">

                            <div class="model-container">
                                <img :src="item.printerImg" class="model-image" alt="model" />
                                <div class="model-info">
                                    <span class="model-title">{{ item.printerName }}</span>
                                    <span class="model-description">{{ item.host }}</span>
                                </div>
                            </div>
                        </el-option>
                    </el-select>
                </div>
                <div style="display: flex; flex-direction: column; flex: 1;" v-if="printerList&&printerList.length >0">
                    <div class="filament-title" v-show="curPrinter">{{ $t('filamentSync.filamentInformation') }}</div>
                    <div class="empty-content" v-if="curPrinter && curPrinter.connectStatus !== 1">
                        <img src="./img/offline.svg" />
                        <span class="offline-text">{{ $t('filamentSync.printerOffline') }}</span>
                    </div>

                    <div class="empty-content"
                        v-else-if="!hasFilament">
                        <img src="./img/no-filament.svg" />
                        <span class="no-filament-text">{{ $t('filamentSync.noFilamentInfo') }}</span>
                    </div>

                    <div class="filament-list" v-else-if="hasFilament">
                        <div v-for="mms in mmsInfo.mmsList" :key="mms.mmsId" class="mms-item">
                            <div v-for="tray in mms.trayList.filter(t => t.status === 1 || t.status === 3)"
                                :key="tray.trayName" class="filament-item">
                                <span class="filament-item-id">{{ tray.trayName }}</span>
                                <span class="filament-item-line"></span>
                                <div class="filament-item-info">
                                    <span v-html="getFilamentSvg(tray)"></span>
                                    <div style="flex: 1; display: flex; justify-content: center;">
                                        <span class="filament-item-name">{{ tray.filamentType }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="empty-content" v-if="!printerList||printerList.length === 0&&!isIniting">
                    <img src="../img/printer-empty.png" width="224" />
                    <span class="offline-text">{{ $t('noPrinterConnected') }}</span>
                </div>
            </div>
            <div class="footer">
                <div class="warning-text" v-if="printFilamentList&&printFilamentList.length>0">
                    {{$t("filamentSync.warningTips")}}
                </div>
                <button class=" btn-secondary trans" @click="cancel" tid="cancel">{{ $t('filamentSync.cancel')
                    }}</button>
                <button class=" btn-primary trans" :disabled="!canSync" @click="sync" tid="upload">{{ $t('filamentSync.sync') }}</button>
            </div>
        </div>
    </div>
    <script src="./filament_sync.js"></script>
</body>

</html>